html {
  margin: 0;
  padding: none;
  color: #666666;
}

body {
  margin: 0 auto;
  width: 960px;
  height: 1200px;
  font-size: 15px;
}

h1 {
  color: #6a6a6a;
  text-align: center;
  font-size: 20px;
}

header {
  height: 200px;
  width: 100%;
}

main {
  height: 350px;
  width: 100%;
  overflow: hidden;
}
img{
  max-width: 960px;
}
.all{
  width: 100%;
  float: left;
}
.clear{
  clear:both;
  position: inherit;
}
a {
  text-decoration: none;
  color: #6a6a6a;
}

#main_menu {
  position: absolute;
  top: 70px;
  left: 400px;
}

#main_menu li {
  display: inline;
  margin: 0 50px;
}

#submenu1 {
  display: none;
  background-color: white;
  position: absolute;
  -webkit-padding-start: 0px;
  padding-top: 20px;
  margin-left: 185px;
  z-index: 999;
}

#submenu1 li {
  display: inherit;
}

#submenu2 {
  display: none;
  padding-top: 0px;
  margin-left: 320px;
}
#imgslide{
  height:350px;
}
.imgs{
  position: relative;
  overflow: hidden;
  height: 350px;
  background: #000;
}
.imgs>img{
  width:100%;
  position: absolute;
  transition: all 1s;
}

#submenu2 li {
  display: inherit;
}

.cycle-slideshow {
}

#main_text {
  position: absolute;
  background-color: white;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 90px;
  opacity: 0.7;
  padding: 15px 50px;
  border-radius: 15px;
  top: 315px;
  left: 450px;
  z-index: 999;
}

.bd {
  color: #009688;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.bd2 {
  padding: 0;
  margin: 0;
}

content {
  height: 500px;
  width: 100%;
}

footer {
  height: 150px;
  width: 100%;
  background-color: #009688;
  color: white;
  font-size: 12px;
}

footer .left {
  width: 40%;
  float: left;
  margin-top: 30px;
}

footer .left ul li {
  display: inline;
  margin: 15px;
}

footer .right {
  width: 50%;
  margin: 10px;
  float: right;
}

#logo {
  width: 250px;
  position: relative;
  top: 30px;
}

#left {
  width: 50%;
  height: 200px;
  float: left;
}

#left table {
  margin: 0 auto;
  border-collapse: collapse;
  border-top: 1px solid #6a6a6a;
}

#left table tr:first-child {
  font-weight: bold;
  text-align: center;
}

#left table tr:nth-child(2n) {
  background-color: lime;
}

#right {
  width: 50%;
  float: right;
}

#right p {
  display: inline;
}

#right p:first-child {
  text-align: right;
}

#right p:nth-child(2) {
  text-align: right;
}

#bottom {
  padding-top: 30px;
  height: 270px;
  clear: both;
  text-align: center;
}

#pc {
  margin-left: 170px;
  text-align: center;
}

#pr {
  margin-left: 330px;
}

#bottom ul {}

#te {
  margin-left: 80px;
}

#qwer {
  margin-top: 20px;
}

#bottom ul li {
  display: inline;
  background-color: #009688;
  padding: 5px 10px;
  margin: 0px 30px;
  border-radius: 10px;
}

#bottom ul li a {
  color: white;
}
